<!-- Template page -->

{% extends 'base.html' %}

{% block content %}
    <div class="col-sm-6 text-center">   <!-- start column -->
        <h3>Header 1:</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p>Iste suscipit asperiores atque sunt libero ab consequatur nobis, sequi laudantium, distinctio similique iure placeat fugit exercitationem quaerat.</p><p>
        <p>Sit expedita blanditiis adipisci?</p>
    </div>   <!-- end column -->
    <div class="col-sm-6 text-center">   <!-- start column -->
        <h3>Header 2:</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p>Iste suscipit asperiores atque sunt libero ab consequatur nobis, sequi laudantium, distinctio similique iure placeat fugit exercitationem quaerat.</p>
        <p>Sit expedita blanditiis adipisci?</p>
    </div>   <!-- end column -->
{% endblock %}